/* @font-face {
    font-family: 'Stinger Wide Bold';
    src: url('Stinger\ Wide\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */

.font_family{
    /* font-family: 'Stinger Wide Bold', Arial, sans-serif; */
    font-family: 'Sora', sans-serif;
}

.c-header{
    background-image: url('/images/background-hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.c-text-primary{
    color: #0A5F59;
}

.c-text-secondary{
    color: #232631;
}

.c-bg-primary{
    background-color: #0A5F59;
}

.c-bg-secondary{
    background-color: #FDC349;
}

.c-text-primary{
    color: #0A5F59;
}

.c-bg-first{
    clip-path: polygon(50% 0%,100% 19%,100% 21%,48% 2%,0% 2%,0% 0%);
    background-color: white;
}
.c-bg-second{
    clip-path: polygon(50% 0%,100% 0%,100% 2%,48% 2%,0% 2%,0% 0%);
    background-color: white;
}

.c-bg-third{
    clip-path: polygon(53% 20%,100% 0%,100% 2%,54% 22%,0% 22%,0% 20%);
    background-color: white;
}

.c-bg-fourth{
    clip-path: polygon(48% 0%,100% 0%,100% 2%,48% 2%,0% 20%,0% 18%);
    background-color: white;
}

.c-bg-fifth{
    clip-path: polygon(53% 19%,100% 18%,100% 20%,53% 21%,0% 2%,0% 0%);
    background-color: white;
}


@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

.scroll-left {
    animation: scroll-left 30s linear infinite;
}

.scroll-right {
    animation: scroll-right 30s linear infinite;
}